.section {
  background-color: var(--lightGrey);
  padding: 0.5em 0.75em;
  margin-bottom: 1em;
  flex: 1
}

.section__title {
  color: var(--secondaryTextColor);
  margin: 0.5em 0;
}

h1 { font-size: 2em }
h2 { font-size: 1.5em }
h3 { font-size: 1.17em }
h4 { font-size: 0.83em }

.section__text {
  color: var(--primaryLightColor);
  margin: 0;
}