.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  flex-direction: column
}

.wrap {
  padding: 0.2em;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.App .custom-button:hover {
  background-color: #00000030;
}