header {
  background-color: var(--primaryColor);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header .menu-burger {
  display: none;
  color: var(--primaryTextColor);
}

@media screen and (max-width: 600px) {		
  header .menu-burger {
    display: inline-flex;
  }
}